<!-- order.html -->
<!DOCTYPE html>
<html>
<head>
    <title>메뉴 추가</title>
</head>
<!DOCTYPE html>
<html>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 10px solid #ddd;
        }
    </style>
<body>
    <table>
        <tr>
            <th>Number</th>
            <th>Menus</th>
            <th>Price</th>
            <th>Quantity</th>
        </tr>
        {% for row in data %}
        <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}</td>
            <td>{{ row[3] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>

<html>
<head>
    <title>주문</title>
</head>
<body>
    <h1>주문</h1>
    <form action="/order/jihee" method="POST">

        <label for="name">메뉴:</label>
        <input type="text" id="menu" name="menu" required><br><br>

        <label for="quantity">수량:</label>
        <input type="text" id="quantity" name="quantity" required><br><br>
        
        <input type="submit" value="주문">
    </form>
</body>
</html>
